{% extends 'main.html' %}
{% load static %}


{% block head-content %}
{% endblock %}


{% block body-content %}
    <div class="body-content">
        <div class="login-modal">
            <div class="login-form">
                <form method="POST" action="/login">
                    {% csrf_token %}
                    <label for="username-field">Username:</label><br>
                    <input type="text" name="username" id="username-field" placeholder="Enter Username" autofocus/>
                    <br>
                    <label for="password-field">Password:</label><br>
                    <input type="password" name="password" id="password-field" placeholder="Enter Password"/>
                    <br><br>
                    <input type="submit" value="Login"/>
                </form>
                <div class="message-div">
                    {% for message in messages %}
                        <h6>{{message}}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
