.work-notes{
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    border: 2px dotted #A0A0A3;
    border-radius: 40px;
}

.work-note{
    margin-top: 20px;
    border: 2px dotted #A0A0A3;
    border-radius: 40px;
}

.input-border{
    border-radius: 40px;
}

::placeholder{
   text-align: center;
}


