*{
    margin: 0;
    font-family: Unbounded;
}

p{
    display: inline;
}

.hide{
    display: none;
}

.body-content{
    margin: auto;
    margin-top: 10px;
    width: 575px;
    text-align: center;
}

.navbar{
    margin: 20px 15% 20px 15%;
}

.login-form{
    margin-top: 200px;
}

.img-index{
    margin-top: 100px;
    width: 80%;
}

input{
    text-align: center;
}

.container{
    width: 1000px;
    text-align: center;
}